<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="com.vit"/>
    <!--
        <context:component-scan base-package="com.vitartz"/>
    -->

    <!-- Add new DAOs here -->

    <!-- Add new Managers here -->


    <!-- quartz -->
    <!--<bean id="myTask" class="com.vitsks.MyTask" />
    <bean id="myTask1" class="com.vitsks.MyTask1" />

    <bean name="quartzJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobDataAsMap">
            <map>
                <entry key="myTask" value-ref="myTask" />
                <entry key="myTask1" value-ref="myTask1" />

            </map>
        </property>

        <property name="jobClass" value="com.vitb.JobA" />
    </bean>
    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="quartzJob" />
        <property name="repeatInterval" value="5000" />
        <property name="startDelay" value="1000" />
    </bean>

    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="quartzJob" />
        <property name="cronExpression" value="0/5 * * * * ?" />
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="quartzJob" />
            </list>
        </property>
        <property name="triggers">
            <list>
                <ref bean="cronTrigger" />
            </list>
        </property>
    </bean>-->


    <!-- Configuration for @QuartzJob to work, No additional configuration is needed to run Jobs
     Just use @Task -->

    <!--<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
    <!--<property name="jobFactory">-->
    <!--<bean class="com.vitartz.SpringQuartzJobFactory"></bean>-->
    <!--</property>-->
    <!--</bean>-->
</beans>